<ion-header>
  <ion-toolbar>
    <ion-title>
      Ajouter Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="ajouterContact()">

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input #nom_contact="ngModel" [(ngModel)]="newContact.nom" name="nom_contact" type="text">
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Prenom</ion-label>
        <ion-input #prenom_contact="ngModel" [(ngModel)]="newContact.prenom" name="prenom_contact" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Age</ion-label>
        <ion-input #age_contact="ngModel" [(ngModel)]="newContact.age" name="age_contact" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input #email_contact="ngModel" [(ngModel)]="newContact.email" name="email_contact" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Poste</ion-label>
        <ion-input #poste_contact="ngModel" [(ngModel)]="newContact.poste" name="poste_contact" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Salaire</ion-label>
        <ion-input #salaire_contact="ngModel" [(ngModel)]="newContact.salaire" name="salaire_contact" type="text">
        </ion-input>
      </ion-item>


    </ion-list>

    <ion-row class="signin">
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Ajouter
        </ion-button>
      </ion-col>
    </ion-row>






  </form>
</ion-content>